*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul , li{
    list-style: none;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
}