* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

/* ------------banner ---------- */
.banner {
  background: #c1dcdc;
  height: 512px;
  border-radius: 24px;
}

#Banner {
  margin-top: 48px;
  position: relative;
  overflow: hidden;
}

.contentPart h1 {
  color: black;
  width: 512px;
  font-size: 64px;
  font-weight: bold;
  font-family: poppins, sans-serif;
  margin-bottom: 24px;
}

.contentPart {
  padding-top: 48px;
  padding-left: 48px;
}

.plantCounter {
  display: flex;
  gap: 48px;
}

.plant h3 {
  font-size: 32px;
  font-weight: medium;
  font-family: poppins, sans-serif;
}
.plant p {
  font-size: 32px;
  font-weight: medium;
  font-family: poppins, sans-serif;
}

.Customer h3 {
  font-size: 32px;
  font-weight: medium;
  font-family: poppins, sans-serif;
}
.customer p {
  font-size: 32px;
  font-weight: medium;
  font-family: poppins, sans-serif;
}

.InputItems {
  width: 449px;
  height: 64px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputItems button {
  width: 64px;
  height: 60px;
  border: none;
  margin-right: 8px;
  background: #c1dcdc;
  border-radius: 20%;
}

.InputItems input {
  border: none;
  outline: none;
  padding-left: 16px;
  font-size: 16px;
  font-family: poppins, sans-serif;
  width: 80%;
  height: 100%;
  border-radius: 6px;
}

/* ----------img part------- */

.bgImg {
  background-image: url(../img/Rectangle\ 2.png);
  width: 450px;
  height: 400px;
  position: absolute;
  bottom: -15px;
}
